.container{
    display:flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.sliderArea {
    background-image: linear-gradient(#0A0A37, #1D204E);
    margin-top: -1px;
    position: relative
}

.sliderArea .hero__caption {
    overflow: hidden;
    position: relative
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sliderArea .hero__caption {
        padding-top: 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .sliderArea .hero__caption {
        padding-top: 40px
    }
}

@media (max-width: 575px) {
    .sliderArea .hero__caption {
        padding-top: 40px
    }
}

.sliderArea .hero__caption span {
    display: inline-block;
    color: #29ACE3;
    font-size: 27px;
    text-transform: inherit;
    margin-bottom: 4px
}

.sliderArea .hero__caption h1 {
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 12px
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .sliderArea .hero__caption h1 {
        font-size: 55px;
        line-height: 1.2
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sliderArea .hero__caption h1 {
        font-size: 50px;
        line-height: 1.2
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .sliderArea .hero__caption h1 {
        font-size: 29px
    }
}

@media (max-width: 575px) {
    .sliderArea .hero__caption h1 {
        font-size: 29px;
        line-height: 1.4
    }
}

.sliderArea .hero__caption p {
    margin-bottom: 31px;
    color: #FFF;
    font-size: 17px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sliderArea .hero__caption p {
        margin-bottom: 54px;
        padding-right: 0px
    }
}

@media (max-width: 575px) {
    .sliderArea .hero__caption p {
        margin-bottom: 54px;
        padding-right: 0px;
        font-size: 16px
    }
}

.sliderArea .hero__caption.hero__caption2 {
    padding-top: 0
}

.sliderArea .hero__caption.hero__caption2 h1 {
    font-size: 44px;
    margin-bottom: 25px
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .sliderArea .hero__caption.hero__caption2 h1 {
        font-size: 29px
    }
}

@media (max-width: 575px) {
    .sliderArea .hero__caption.hero__caption2 h1 {
        font-size: 30px
    }
}

.sliderArea .hero__caption.hero__caption3 h1 {
    font-size: 44px;
    margin-bottom: 25px
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .sliderArea .hero__caption.hero__caption3 h1 {
        font-size: 29px
    }
}

@media (max-width: 575px) {
    .sliderArea .hero__caption.hero__caption3 h1 {
        font-size: 30px
    }
}

.sliderArea .hero__img img {
    position: relative;
    right: -100px
}

.sliderArea .slider_shape .slider_shape1 {
    position: absolute;
    top: 0;
    left: 0
}

.sliderArea .slider_shape .slider-shape2 {
    position: absolute;
    top: 0;
    right: 0
}

.sliderArea .slider_shape .slider-shape3 {
    position: absolute;
    left: 67px;
    bottom: 95px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sliderArea .hero-cap {
        padding-top: 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .sliderArea .hero-cap {
        padding-top: 50px
    }
}

@media (max-width: 575px) {
    .sliderArea .hero-cap {
        padding-top: 50px
    }
}

.sliderArea .hero-cap h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .sliderArea .hero-cap h2 {
        font-size: 40px
    }
}

@media (max-width: 575px) {
    .sliderArea .hero-cap h2 {
        font-size: 40px
    }
}

.slider_height {
    min-height: 860px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .slider_height {
        min-height: 900px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider_height {
        min-height: 600px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider_height {
        min-height: 500px
    }
}

@media (max-width: 575px) {
    .slider_height {
        min-height: 600px
    }
}


.slider_btns .btn::before{
    content: "Get Started";
}
.slider_btns a {
    background: #29ACE3;
}

.slider_btns a::before {
    background: #3ABDF4;
}

.btn {
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    padding: 27px 44px !important;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
    border-radius: 30px;
    display: inline-block !important;
    text-align: center;
}

.btn::after {
    position: unset !important
}

.btn::before {
    content: "";
    position: absolute !important;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    z-index: 1;
    border-radius: 5px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0px;
    line-height: 361%;
}

.btn i {
    padding-right: 11px
}

.btn:hover {
    text-decoration: none !important
}

.btn:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: 1;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none
}

.about-btn {
    padding: 28px 52px
}

.header-btn {
    padding: 18px 43px
}

.hero-btn {
    padding: 18px 43px
}

.white-btn {
    padding: 30px 39px;
    background: #fff;
    color: #072366 !important
}

.white-btn::before {
    background: #F067FF;
    color: #fff !important
}

.black-btn {
    padding: 14px 35px;
    background: #000;
    display: inline-block
}

.triangle_bg {
    position: absolute;
    bottom: -1px;
    left: -2px;
    right: 0px;
}
.triangle_bg img{
    width: 100%;
    height: auto;
}

